{% extends 'minimum.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Veuillez entrer votre adresse e-mail ci-dessous, un lien pour réinitialiser votre mot de passe va vous etre envoyé</p>

      <form class="user" action='{{path('app_password_forgot')}}' method='POST' name='controlmail'>
        <div class="input-group mb-3">
          <input type="email" class="form-control form-control-user" id="identifiant" name="identifiant" aria-describedby="emailHelp" placeholder="Veuillez saisir votre adresse mail..." required autofocus>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-dark btn-block">Modifier mon mot de passe</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mt-3 mb-1 text-center">
        <a href="{{path('app_login')}}">Vous avez déjà un compte? S'identifier</a>
      </p>
      <p class="mb-0 text-center">
        <a href="{{path('app_register')}}">Inscription</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
<!-- /.login-box -->
{% endblock %}