<p>Bonjour 
{% for user in holiday.user %}
    {{ user.pseudo }}     
{% endfor %}
</p></br>
<p>Nous avons le plaisir de vous annoncer que vos congés du {{ holiday.start|date('d-m-Y H:i:s') }} au {{ holiday.end|date('d-m-Y H:i:s') }} sont acceptés !</p></br>
<p>Intranet Axis</p>
<p>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</p>
