<p>Bonjour 
</p></br>
<p>Le refus pour les congés de {% for user in holiday.user %}{{ user.pseudo }}{% endfor %}
 du {{ holiday.start|date('d-m-Y H:i:s') }} au {{ holiday.end|date('d-m-Y H:i:s') }} a bien été pris en compte.</p></br>
<p>Intranet Axis</p>
<p>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</p>
