<p>Bonjour {{ holiday.pseudo }},

</p></br>
<p>Nous avons bien reçu votre demande de congés pour la période du {{ holiday.start|date('d-m-Y H:i:s') }} au {{ holiday.end|date('d-m-Y H:i:s') }}</p></br>
<p>Un retour vous sera fait dans les plus bref délai<p>
<p>Intranet Axis</p>
<p>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</p>
