<p>Bonjour {{ anomalie.UserName }},</p>
<p>Une mise à jour de certiphyto décideur est requise sur le client <strong>{{ anomalie.Tiers }}</strong> : <strong>{{ anomalie.Nom }}</strong> </p>
<p>Celui ci est indiqué en achat autorisé mais décideur obligatoire n'est pas coché, cette manupulation est habituellement faite pour débloquer le client en attendant son certiphyto</p>

<p>Merci d'envoyer les documents à jours à <a href='jpochet@lhermitte.fr'>jpochet@lhermitte.fr</a> et <a href='vlesenne@lhermitte.fr'>vlesenne@lhermitte.fr</a></p>
<p>Intranet Axis</p>
<p>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</p>
