<p>Bonjour {{ anomalie.Utilisateur }},

</p></br>
<p>Vous avez créé un BL Direct : <strong>{{ anomalie.numeroBl }}</strong> pour le tiers <strong>{{anomalie.tiers}}.
<p>La création d'un BL Direct alimente le stock Direct alors que celui ci n'a pas lieu d'être, merci de supprimer ce BL Direct</p>
<p>Si vous avez besoin d'envoyer un BL au client, un masque d'impression qui ressemble a un BL doit être disponible dans les masques d'impression de la commande du tiers.</p>
<p>Merci de supprimer ce BL, ce message sera renouvellé chaque jour jusqu'a suppression du BL<p>

<p><strong>Intranet Axis</strong></p>
<p><strong>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</strong></p>
