<p>Bonjour, 
</p></br>
<p>Veuillez trouver en piéce jointe, le fichier Compta Analytique sur lequel vous êtes inscrit</p></br>
<p>Intranet Axis</p>
<p>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</p>
