<p>Bonjour {{ anomalie.Utilisateur }},</p>
<p>Une anomalie a été dectecté sur le client <strong>{{ anomalie.Tiers }}</strong> : <strong>{{ anomalie.Nom }}</strong> </p>
<p>Vos etes la dernière personne à avoir agi sur ce client</p>
<p>Un client Français doit être sur le régime TVA 0 ou sur le régime TVA 01 s'il est en autoliquidation</p>
<p>Un client CEE doit être sur le régime TVA 1</p>
<p>Un client Hors UE doit être sur le régime TVA 2</p>
<p>Merci de corriger ce probléme, un mail de rappel vous sera envoyé chaque jour jusqu'a régularisation</p>
<p>Intranet Axis</p>
<p>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</p>