{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">Annuaire des sociétés</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>Référence</span></th>
                                    <th class="text-center"><span>Désignation</span></th>
                                    <th class="text-center"><span>Client</span></th>
                                </tr>
                            </thead>
                            <tbody>
							
                                {% for Article in Articles %}
                                    <tr id="<?= $id ?>">
                                        <td class="text-center">
                                            <a class="text-center">{{ Article.ref }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center">{{ Article.des }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center">{{ Article.Tiers }}</a>
                                        </td>
                                    {% endfor %}
                                    </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center"><span>Référence</span></th>
                                    <th class="text-center"><span>Désignation</span></th>
                                    <th class="text-center"><span>Client</span></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
