{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<div class="col-md-12">
		<!-- general form elements disabled -->
		<div class="card card-dark">
			<div class="card-header d-flex">
				<h3 class="card-title text-white">Administration des paramétres de l'Utilisateur</h3>
				<a href="{{ path('app_admin_users') }}" class="badge badge-success ml-auto">Retourner à la liste des Utilisateurs</a>
			</div>
			<div class="card-body">
				<img class="img-fluid col-2" src="{{ asset(asset('img/profile/' ~ user.img))}}" alt="User Image">
				{{ form(userEditForm)}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
