{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<div class="card collapsed-card card-info">
		<div class="card-header">
			<h3 class="card-title">
				<i class="icon fas fa-info-circle"></i>
				Informations paramétrages</h3>
			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse">
					<i class="fas fa-minus"></i>
				</button>
			</div>
		</div>

		<div class="card-body">
			<p>L'accés a l'entreprise est indispensable pour utiliser celle ci, un utilisateur de la société Lhermitte devra donc avoir le droit Lhermitte.</p>
			<p>Le numéro de commercial n'est indispensable que si l'utilisateur est commercial, il faut reprendre celui qui lui est assigné dans Divalto, cela ne lui permet de consulter que ses chiffres.</p>
			<p>il ne faut débloqué que le secteur propre à l'utilisateur, exemple un Espace vert sera débloqué en EV uniquement, mais pas en HP, ME ou RB, (Roby = RB), donc uniquement pour les commerciaux et responsables de secteur
			</p>
			<p>Les Utilisateurs ne peuvent consulter que les chiffres liés à leurs secteurs, un responsable de secteur verra les chiffres de ses collégues de secteur
			</p>
			<p>Le droit BOSS ne sert qu'au patron, celui COMPTA pour débloquer les exports comptables, INFORMATIQUE pour le service informatique, CONGES pour les décisionnaires des congés (acceptation et refus)
			</p>
			<p>Le service est indispensable pour la gestion des congés</p>
		</div>
	</div>
	<div class="col-md-12">

		<div class="card card-dark">
			<div class="card-header d-flex">
				<h3 class="card-title text-white">Administration des paramétres de l'Utilisateur</h3>
				<a href="{{ path('app_admin_users') }}" class="badge badge-success ml-auto">Retourner à la liste des Utilisateurs</a>
			</div>
			<div class="card-body d-flex">
				<img class="img-fluid col-2" src="{{ asset(asset('img/profile/' ~ user.img))}}" alt="User Image">
				{{ form(userEditForm, { 'attr': {'class': 'col-10'} })}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
