 {% extends 'base.html.twig' %}

{% block title %}Page des Tickets
{% endblock %}
{% block body %}
 <!-- form collapse fermé de base -->
                <div class="card collapsed-card card-dark">
                  <div class="card-header">
                    <h3 class="card-title">le titre de mon collapse !</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <!-- C'est ici que je mets ce que je veux -->
                
                
                  </div>
                  <!-- /.card-footer-->
                </div>
{% endblock %}