 {% extends 'base.html.twig' %}

{% block title %}Page des Tickets
{% endblock %}
{% block body %}
 <!-- form collapse fermé de base -->
                <div class="card collapsed-card card-dark">
                  <div class="card-header">
                    <h3 class="card-title">le titre de mon collapse !</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <!-- C'est ici que je mets ce que je veux -->
                
                
                  </div>
                  <!-- /.card-footer-->
                </div>





  <!-- ./row  fenêtre avec des onglets-->
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card card-primary card-tabs">
        <div class="card-header p-0 pt-1">
          <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Profile</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada lacus ullamcorper dui molestie, sit amet congue quam finibus. Etiam ultricies nunc non magna feugiat commodo. Etiam odio magna, mollis auctor felis vitae, ullamcorper ornare ligula. Proin pellentesque tincidunt nisi, vitae ullamcorper felis aliquam id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin id orci eu lectus blandit suscipit. Phasellus porta, ante et varius ornare, sem enim sollicitudin eros, at commodo leo est vitae lacus. Etiam ut porta sem. Proin porttitor porta nisl, id tempor risus rhoncus quis. In in quam a nibh cursus pulvinar non consequat neque. Mauris lacus elit, condimentum ac condimentum at, semper vitae lectus. Cras lacinia erat eget sapien porta consectetur. 
            </div>
            <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam. 
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>         
  </div>
  <!-- /.row -->


                  <!-- /.col -->
                  <div class="col-md-4">
                    <p class="text-center">
                      <strong>Goal Completion</strong>
                    </p>

                    <div class="progress-group">
                      Add Products to Cart
                      <span class="float-right"><b>160</b>/200</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-primary" style="width: 80%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->

                    <div class="progress-group">
                      Complete Purchase
                      <span class="float-right"><b>310</b>/400</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-danger" style="width: 75%"></div>
                      </div>
                    </div>

                    <!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Visit Premium Page</span>
                      <span class="float-right"><b>480</b>/800</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-success" style="width: 60%"></div>
                      </div>
                    </div>

                    <!-- /.progress-group -->
                    <div class="progress-group">
                      Send Inquiries
                      <span class="float-right"><b>250</b>/500</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-warning" style="width: 50%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->
                  </div>




<div class="col-md-4">
					<div
						class="">

						<!-- /.card-header -->
						<div class="card-body">
							<div
								id="accordion">
								<!-- we are adding the .class so bootstrap.js collapse plugin detects it -->

								<div class="card card-dark">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
												Rendez vous !
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
											                        3
											                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
											                        laborum
											                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
											                        nulla
											                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
											                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
											                        beer
											                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
											                        labore sustainable VHS.
										</div>
									</div>
								</div>

								<div class="card card-danger">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
												information Brulante !
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
											                        3
											                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
											                        laborum
											                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
											                        nulla
											                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
											                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
											                        beer
											                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
											                        labore sustainable VHS.
										</div>
									</div>
								</div>
								<div class="card card-success">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
												Un mot pour les salariés
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
											                        3
											                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
											                        laborum
											                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
											                        nulla
											                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
											                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
											                        beer
											                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
											                        labore sustainable VHS.
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>







{% endblock %}