{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
				{% for Article in Articles %}
	<div
		class="col-md-12">
		<!-- general form elements disabled -->
		<div class="card card-dark">
			<div class="card-header d-flex">
				<h3 class="card-title text-white">Modification de mon profil</h3>
			</div>
			<div class="card-body">

					{{ Article.nom }}
					{{ Article.mail }}

			</div>
		</div>
	</div>
				{% endfor %}
{% endblock %}

