{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Expandable Table</h3>
				</div>
				<!-- ./card-header -->
				<div class="card-body">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Référence :
								</th>
								<th>Sref1 :
								</th>
								<th>Sref2 :
								</th>
								<th>Désignation :
								</th>
								<th>U.V :
								</th>
								<th>Gencod :
								</th>
								<th>Ean :
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>NETPM8120</td>
								<td>P</td>
								<td>BC</td>
								<td colspan="5">PIQUET METAL - LONG : 1.20 M ø 8 MM</td>
								<td>U</td>
								<td>U</td>
								<td>1000000440881</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>

{% endblock %}
